.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 80px;
  padding: 0 146px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
  font-family: $main-font;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.header-logo {
  width: 216px;
  height: 14px;
}

#menu-primary-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
}

@media screen and (max-width: 900px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header {
  width: 100vw;
  height: 72px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
  li {
    margin-left: 0px;
    margin-bottom: 58px;
  }
}

.mobile-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.mobile-header-nav {
  display: none;
  //   display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 72px;
  z-index: 5;
  width: 100%;
  text-align: center;
  flex-direction: column;
  color: white;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 44px;
  background-color: #e00000;
  padding-top: 40px;
  padding-bottom: 20px;
  height: calc(100vh - 72px);
}

.burger-menu {
  padding-right: 40px;
}

.mobile-close-menu-btn {
  display: none;
  padding-right: 40px;
}

.mobile-header-logo {
  padding-left: 40px;
  width: 138px;
}
