.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 40;
  animation: lightboxIn;
  animation-duration: 500ms;
  overflow: hidden;
  display: none;
}

.lightbox-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  @media screen and (max-width: 900px) {
    top: 95%;
  }

}


.lightbox {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all .5s linear;
  position: relative;
}

.lightbox li, .lightbox ul, .lightbox img {
  width: 100%;
  display: block;
  flex-shrink: 0;
}

.lightbox li {
  padding: 20px 0;
}

.lightbox p {
  color: white;
}

.lightbox img {
  height: 80vh;
  object-fit: cover;
}

.lightbox ul {
  display: flex;
  transition: all .5s linear;
  padding-top: 5%;
}


.lightbox-next,
.lightbox-prev {
  transition: 300ms;
  opacity: 0.6;
  cursor: pointer;

  &:hover {
    transform: scale(1.25);
    opacity: 1;
  }
}

.lightbox-prev {
  right: auto;
  left: 25px;
}

.lightbox-next {
  left: auto;
  right: 25px;
}

.lightbox-close {
  position: fixed;
  right: 5%;
  top: 5%;
  transition: 300ms;
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    transform: scale(1.25);
    opacity: 1;
  }
}


.lightbox-image {
  max-width: 100%;
  height: auto;
  animation: lightboxIn;
  animation-duration: 600ms;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lightbox-ref, .lightbox-title {
  position: fixed;
  bottom: 5%;
  font-family: $main-font;
  text-transform: uppercase;
  z-index: 100;
  color: white;
  @media screen and (max-width: 900px) {
    bottom: 10%;
  }
}

.lightbox-text {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  font-family: $main-font;
  text-transform: uppercase;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.lightbox-ref {
  left: 50%;
}

.lightbox-title {
  right: 10%;
}