.single-top-section {
  height: calc(100vh - 80px);
  padding-top: 38px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.single-photo-and-description {
  display: flex;
  height: calc(100vh - 198px);
}

.single-description,
.single-photo-image-container {
  width: 50vw;
}

.single-description {
  font-family: $main-font;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  h1 {
    font-size: 66px;
    font-style: italic;
    line-height: 58px;
    font-weight: 400;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  align-self: flex-end;
}

.single-photo-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.single-description-border {
  background-color: black;
  height: 1px;
  width: 95%;
}

.single-photo-nav-section {
  height: 118px;
  display: flex;
  p {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 300;
  }
  border-bottom: 1px solid black;
}

.single-photo-nav-section-left {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
}

.single-photo-nav-section-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 8px;
}

.previous-nav-thumbnail,
.next-nav-thumbnail {
  opacity: 0;
  height: 81px;
  width: 71px;
}

.previous-nav-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

.single-photo-nav-preview {
  position: relative;
}

.single-photo-nav {
  display: flex;
  justify-content: space-between;
}

.single-bottom-section {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 71px;
}
